<div class="max-w-md">
  <div class="my-4 text-5xl font-bold">{{ section.settings.title }}</div>
  <div class="my-4">
    <p class="leading-normal txt-base md:text-xl">{{ section.settings.subtext_title }}</p>
  </div>
  <div class="my-4">
    {% if section.settings.button_url == blank %}
      {% assign shop_url = shop.secure_url %}
    {% else %}
      {% assign shop_url = section.settings.button_url %}
    {% endif %}
    <a href="{{ shop_url }}" class="inline px-4 py-2 text-base font-medium text-white bg-green-500 rounded shadow hover:bg-green-900">{{ section.settings.button_label }}</a>
  </div>
</div>


{% schema %}
  {
    "name": "template 404",
    "tag": "section",
    "class": "flex items-center justify-center text-center py-7 h-screen",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "404",
        "label": "404 heading title"
      }, {
        "type": "text",
        "id": "subtext_title",
        "default": "page you are looking for is not found.",
        "label": "subtext title"
      }, {
        "type": "text",
        "id": "button_label",
        "default": "Back to homepage.",
        "label": "button label"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "button url"
      }
    ]
  }
{% endschema %}